[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb
*.mdb.meta
*.opendb.meta
*.VC.db.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
.DS_Store
._*.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/TextMesh Pro/*
*.blob